@use "../presets" as *;
@use "../mixins" as *;

.header {
	overflow: hidden;
	min-height: 100px;
	margin-bottom: 30px;
	border-radius: 0 0 7px 7px;

	&__container {
		@extend %container;
		background: rgba(0, 0, 0, 0.5);
	}
}
